*.old
dart_board/*.pyc
dart_board/sf_history/*.pyc
data/*
pyBSE/*.o
pyBSE/*.so
pyBSE/*.in
pyBSE/*.out
pyBSE/*.h
pyBSE/*.tar
pyBSE/README*
pyBSE/bse.f
pyBSE/corerd.f
pyBSE/deltat.f
pyBSE/dgcore.f
pyBSE/evolv1.f
pyBSE/gntage.f
pyBSE/hrdiag.f
pyBSE/instar.f
pyBSE/mix.f
pyBSE/mlwind.f
pyBSE/mrenv.f
pyBSE/popbin.f
pyBSE/ran3.f
pyBSE/rl.f
pyBSE/sse.f
pyBSE/star.f
pyBSE/zcnsts.f
pyBSE/zdata.f
pyBSE/zfuncs.f
figures/*
dart_board.egg-info
dart_board/__pycache__
examples/*.out
notebooks
dart_board/sf_history/__pycache__
examples/.ipynb_checkpoints
dart_board/sf_history/*.dat
examples/*.sbatch
examples/*.dat
examples/fort.*
examples/.pdf*
examples/*.pdf
docs/*.pdf
pyBSE_old
examples/*test*
examples/BHBH*
pyBSE/pybse/*.pyc
pyBSE/pybse/__pycache__
pyBSE_2/
test/
fort.99
pyBSE/pybse.egg-info/
pyBSE/*.ipynb
pyBSE/dist/
pyBSE/.ipynb_checkpoints/
dart_board/cosmo/__pycache__/
dart_board/cosmo/*.pyc
pyBSE/kick.f
pyBSE/comenv.f
pyBSE/evolv2.f
Makefile
